<p class="mini-header">FILES</p>



<form ng-submit="saveFile(title)">
  <!-- <h4>Enter title and author, separated by comma</h4> -->
  <input type="text" name="name" placeholder="enter a name" ng-model="title" autocomplete="off">
</form>
<form>
  <div>or</div>
  <button id="file-button" class="hvr-grow" ng-click="saveFile()">auto-name it</button>
</form>

<ul class="file-list">
  <li ng-repeat="file in files"><a ng-click="loadThisFile(file)">{{file.title}}</a><remove-dad ng-click="spliceFile(file)">x</remove-dad></li>
</ul>
