$skewDeg: 20deg;
$skewPos: skewY($skewDeg);
$skewNeg: skewY(-$skewDeg);

$red: rgb(200, 33, 23);
$medgray: rgb(135, 135, 135);

.ital {
  font-style: italic;
}
.bold {
  font-weight: bold;
  font-size: 2.1em;
}

.book-scroll-title {
    text-align: center;
    width: 100%;
    position: absolute;
    top: -120px;
    color: rgb(37, 37, 37);
    text-shadow: -2px 0 rgb(101, 12, 7), 0 1px rgb(182, 55, 55), 1px 0 rgb(213, 75, 75), 0 -1px rgb(196, 55, 55);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  Basic dimensions for all letters B O O K S C R O L L
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.char {
  font-size: 4em;
  width: 65px;
	height: 90px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  box-shadow: 7px 7px 10px 0px rgba(36, 36, 36, .8);
}
.char5 {
  box-shadow: 0px 0px 0px 0px white; /* Reset the space character */
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  Skew the divs
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.char1, .char3, .char7, .char9, .char11 {
  -webkit-transform: $skewPos;
     -moz-transform: $skewPos;
       -o-transform: $skewPos;
}
.char2, .char4, .char6, .char8, .char10 {
	-webkit-transform: $skewNeg;
	   -moz-transform: $skewNeg;
	     -o-transform: $skewNeg;
  margin: -5px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  Color the divs and add borders (which create the look of a book spine)
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.char1, .char3, .char6, .char8, .char10 {
  border-right: thick solid rgb(223, 72, 64);
  background-color: $red;
  :after {
    content: '';
    height: 90px;
    width: 65px;
    position: absolute;
    border-left: thin solid rgb(139, 21, 15);
    right: -65px;
  }
}

.char2, .char4, .char7, .char9, .char11 {
  border-left: thick solid rgb(159, 24, 17);
  background-color: rgb(136, 25, 18);
  :after {
    content: '';
    border-right: 2px solid rgb(133, 19, 13);
    height: 90px;
    width: 65px;
    position: absolute;
    left: -65px;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  Pages
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.char1:before, .char2:before, .char3:before, .char4:before {
  content: '';
  background-color: rgb(244, 225, 224);
  position: absolute;
  top: -4px;
  width: 65px;
  height: 4px;
  z-index: 0;
}
.char6:before, .char7:before, .char8:before, .char9:before, .char10:before, .char11:before {
  content: '';
  background-color: rgb(254, 219, 217);
  position: absolute;
  bottom: -4px;
  left: 7px;
  width: 65px;
  height: 4px;
  z-index: 0;
}
.char2:before, .char4:before, .char7:before, .char9:before, .char11:before {
  left: -5px;
  width: 59px;
}
