@import 'https://fonts.googleapis.com/css?family=Roboto|Rock+Salt';

/*h1, h2, h3, h4, h5, h6 {
  font-family: 'Rock Salt', cursive;
}*/

.splash-header {
  width: 100%;
  height: 270px;
  overflow: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
/*}
.splash-header:after {
  content: '';
  width: 500px;
  height: 30px;
  position: absolute;
  top: 240px;*/
  border-bottom: 3px dashed gray;
}

.carousel-container {
  width: 100%;
  height: 30%;
  /*margin: 3em;*/
  /*color: white;*/
}
