.em {
  font-style: italic;
}
.bold {
  font-weight: bold;
  font-size: 2.1em;
}

.book-scroll-title {
    text-align: center;
    width: 100%;
    position: absolute;
    top: -120px;
    color: rgb(236, 177, 173);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  Basic dimensions for all letters B O O K S C R O L L
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.char1, .char2, .char3, .char4, .char5, .char6, .char7, .char8, .char9, .char10, .char11 {
  /*transform: skewX();*/
  font-size: 4em;
  width: 65px;
	height: 90px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  box-shadow: 7px 7px 10px 0px rgba(36, 36, 36, .8);
}
.char5 {
  box-shadow: 0px 0px 0px 0px white; /* Reset the space character */
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  Skew the divs
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.char1, .char3, .char7, .char9, .char11 {
  -webkit-transform: skewY(20deg);
     -moz-transform: skewY(20deg);
       -o-transform: skewY(20deg);
}
.char2, .char4, .char6, .char8, .char10 {
	-webkit-transform: skewY(-20deg);
	   -moz-transform: skewY(-20deg);
	     -o-transform: skewY(-20deg);
  margin: -5px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  Color the divs and add borders (which create the look of a book spine)
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.char1, .char3, .char6, .char8, .char10 {
  border-right: thick solid rgb(223, 72, 64);
  background-color: rgb(217, 56, 46);}
  .char1:after, .char3:after, .char6:after, .char8:after, .char10:after {
    content: '';
    height: 90px;
    width: 65px;
    position: absolute;
    border-left: thin solid rgb(159, 24, 17);
    right: -65px;
  }
.char2, .char4, .char7, .char9, .char11 {
  border-left: thick solid rgb(159, 24, 17);
  background-color: rgb(149, 12, 4);}
  .char2:after, .char4:after, .char7:after, .char9:after, .char11:after {
    content: '';
    border-right: 2px solid rgb(133, 19, 13);
    height: 90px;
    width: 65px;
    position: absolute;
    left: -65px;
  }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  Pages for letters B O O K
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.char1:before, .char2:before, .char3:before, .char4:before {
  content: '';
  background-color: rgb(254, 219, 217);
  position: absolute;
  top: -4px;
  width: 65px;
  height: 4px;
  z-index: 0;
}
.char2:before, .char4:before {
  left: -5px;
  width: 59px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  Pages for letters S C R O L L
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.char6:before, .char7:before, .char8:before, .char9:before, .char10:before, .char11:before {
  content: '';
  background-color: rgb(254, 219, 217);
  position: absolute;
  bottom: -4px;
  left: 7px;
  width: 65px;
  height: 4px;
  z-index: 0;
}
.char7:before, .char9:before, .char11:before {
  left: -5px;
  width: 59px;
}
