<p class="mini-header">HIGHLIGHTS</p>

<form>
  <div>select a word and</div>
  <button id="highlight-button" ng-click="highlightText()" class="hvr-grow">highlight it</button>
</form>


<form ng-submit="highlightText(searchInput)">
  <div>or</div>
  <input type="text" id="finder" ng-model="searchInput" placeholder="search/highlight all" autocomplete="off"></input>
</form>
<!-- <span>FIND</span> -->


<ul class="bmark-list">
  <li ng-repeat="bookmark in bookmarks"><a>{{bookmark.id}}</a><remove-dad ng-click="spliceBmark(bookmark)">x</remove-dad></li>
</ul>




<!-- <bmarker></bmarker> -->

<!-- {{test}} -->
